{{> header}}

<!-- About Container -->
<div class="w3-container w3-padding-64 w3-red w3-grayscale w3-xlarge" id="about">
  <div class="w3-content text-center">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:15px">About</h1>
    <p>Our website is to let people check current weather and air condition.
    <h3 class="uk-h4 uk-margin-top-remove">
    <i class="fa fa-medkit">&nbsp;</i>Mission </h3>               
    <div class="uk-margin">To provide accurate weather,temperature and air condition</div>

    <div>
    <div class="uk-panel uk-panel-header uk-invisible">       
    <h3 class="uk-h4 uk-margin-top-remove">
    <i class="fa fa-user-md">&nbsp;</i>Vision </h3>
    <div class="uk-margin">Have more about the country info and weather detail to support everyone</div>
    </div>
    </div>
  </div>
</div>
<div style="margin-bottom:30.5%"></div>
{{> footer}}
