</div>
<!-- Footer -->

<footer class="page-footer font-small special-color-bright pt-4">
<div class=" w3-row-padding w3-padding-24" style="background-color:rgb(32, 32, 32) ";>

  <!-- Footer text -->
  <div class="footer-copyright text-center py-3" style="color:blanchedalmond">Contact Us : 1300-13-7859 &emsp;&emsp; Email : weatherinfo@gmail.com
  </div>
</div>
</footer>
<!-- close body color -->   
</div>
</body>